Repository ansible/ansible-runner, changes with the labels that .github/labeler.yml gives for each.
All labels: component:docs, needs_triage, test

Add another activity for testing
  .github/workflows/label.yml
Labels: none

Change a test file
  test/new
Labels: test

Change a docs file
  docs/execution_environments.rst
Labels: component:docs

Keep worker --private-data-dir when --delete not given
  ansible_runner/__main__.py
  docs/remote_jobs.rst
  test/integration/test_transmit_worker_process.py
Labels: component:docs

Use local vars for worker private_data_dir and delete_directory
  ansible_runner/__main__.py
Labels: none

rearrange test parameterization for worker --delete
  test/integration/test_transmit_worker_process.py
Labels: none

use proper backticks and clarify pre-deletion
  docs/remote_jobs.rst
Labels: component:docs

Syntax completeness of review comments
  ansible_runner/__main__.py
Labels: none

Revert "[release_2.0] Switch project to squash-merge mode"
  .zuul.d/project.yaml
Labels: none

Revert "[release_2.1] Switch project to squash-merge mode"
  .zuul.d/project.yaml
Labels: none

Add test for combine python and file settings
  test/integration/test_config.py
Labels: none

Add test for combine python and file settings
  test/integration/test_config.py
Labels: none

Fix settings and password dict update (#899)
  ansible_runner/config/_base.py
Labels: none

Fix settings and password dict update (#899)
  ansible_runner/config/_base.py
Labels: none

Revert "Switch project to squash-merge mode"
  .zuul.d/project.yaml
Labels: none

Don't unnecessarily convert Path objects to strings
  test/unit/config/test__base.py
Labels: none

Split up integration tests for better legibility
  test/integration/test_transmit_worker_process.py
Labels: none

Added missing state callback
  docs/python_interface.rst
Labels: component:docs

Add unit tests
  test/unit/__main__/__init__.py
  test/unit/__main__/main/test_worker.py
Labels: none

Add coverage reporting to tests
  .coveragerc
  .gitignore
  pytest.ini
  test/requirements.txt
  tox.ini
Labels: needs_triage, test

Write auto-created private data dirs to pytest dir instead of /tmp
  ansible_runner/config/_base.py
  ansible_runner/defaults.py
  test/conftest.py
Labels: test

Runner tests require a valid PATH
  test/integration/conftest.py
Labels: none

Keep worker --private-data-dir when --delete not given (#887)
  ansible_runner/__main__.py
  docs/remote_jobs.rst
  test/integration/test_transmit_worker_process.py
  test/unit/__main__/__init__.py
  test/unit/__main__/main/test_worker.py
Labels: component:docs

[release_2.1] Keep worker --private-data-dir when --delete not given (#887)
  ansible_runner/__main__.py
  docs/remote_jobs.rst
  test/integration/test_transmit_worker_process.py
  test/unit/__main__/__init__.py
  test/unit/__main__/main/test_worker.py
Labels: component:docs

.github/labeler.yml:

"component:docs":
  - docs/*

needs_triage:
  - '*'
  - '.*'

test:
  - 'test/*'
