Repository ansible/ansible-runner, pull requests merged in 2020-09, with the labels that each got.

#507 Pass any envvars content into containerized runs
  ansible_runner/runner.py
  ansible_runner/runner_config.py
  bindep.txt
  test/conftest.py
  test/data/job_env/env/envvars
  test/data/job_env/env/settings
  test/data/job_env/project/printenv.yml
  test/data/printenv/project/action_plugins/look_at_environment.py
  test/data/printenv/project/get_environment.yml
  test/integration/containerized/test_cli_containerized.py
  test/integration/test_interface.py
  test/unit/test_runner_config.py
Labels: gate

#495 Fix help text typo
  ansible_runner/__main__.py
Labels: gate

#512 Switch to newer quay.io image and make corresponding updates
  Makefile
  ansible_runner/__main__.py
  ansible_runner/interface.py
  ansible_runner/runner_config.py
  test/integration/containerized/priv_data/env/settings
  test/integration/test_interface.py
  test/unit/test_runner_config.py
Labels: gate

#514 Do not set callback in entrypoint, so ad hoc commands work
  utils/entrypoint.sh
Labels: gate

#518 Use a file in artifacts to enumerate podman env var allow list
  ansible_runner/runner.py
  ansible_runner/runner_config.py
  test/unit/test_runner_config.py
Labels: gate

#522 Fix compat commands
  Dockerfile
  ansible_runner/runner_config.py
  test/integration/containerized/test_cli_containerized.py
  test/unit/test_runner_config.py
  utils/entrypoint.sh
Labels: gate

#527 Make test pass on Mac and silence warnings from pytest
  pytest.ini
  test/unit/test_runner_config.py
Labels: gate

#525 Fix a couple of typos in the command line help text
  ansible_runner/__main__.py
Labels: gate

#463 doc: event_handler callback should return a value
  ansible_runner/interface.py
  docs/python_interface.rst
Labels: component:docs, gate

#529 Remove more serial markers
  test/integration/conftest.py
  test/integration/test_events.py
  test/integration/test_interface.py
  test/integration/test_main.py
Labels: gate

#531 Fix & tests for standard out corruption to console
  ansible_runner/utils.py
  test/integration/test_display_callback.py
Labels: gate

#535 Remove top-level CLI args that dont make sense
  ansible_runner/__main__.py
Labels: gate

#536 Add 2 missing stats type, change test to go through stats property
  ansible_runner/runner.py
  test/data/host_status/inventory
  test/data/host_status/project/gen_host_status.yml
  test/data/host_status/project/gen_host_status_base.yml
  test/data/host_status/project/gen_host_status_loop.yml
  test/integration/test_events.py
Labels: gate

#528 Add tests and update docs for making selections in inventory folder
  docs/intro.rst
  test/data/debug/inventory/inv_1
  test/data/debug/inventory/inv_2
  test/data/debug/project/debug.yml
  test/integration/test_interface.py
Labels: gate

#520 Allow customizing Ansible version in Dockerfile, use source for runner install
  .dockerignore
  Dockerfile
  Dockerfile.dev
  Makefile
Labels: component:execution-environments, gate

#530 Kill-on-cancel for containers launched from programatic interface
  ansible_runner/runner.py
  ansible_runner/runner_config.py
  ansible_runner/utils.py
  docs/execution_environments.rst
  test/data/sleep/project/sleep.yml
  test/integration/containerized/conftest.py
  test/integration/containerized/test_container_management.py
  test/unit/test_runner_config.py
  test/unit/test_utils.py
Labels: gate, state:needs_review
