Repository ansible/ansible-runner, pull requests merged in 2021-10, with the labels that each got.

#846 Introduce `ansible-runner worker cleanup` as cleanup of last-resort for remote execution nodes
  ansible_runner/__main__.py
  ansible_runner/cleanup.py
  ansible_runner/config/_base.py
  ansible_runner/defaults.py
  ansible_runner/utils/__init__.py
  docs/remote_jobs.rst
  test/integration/containerized/test_cleanup_images.py
  test/unit/test_cleanup.py
  test/unit/test_utils.py
Labels: gate

#854 Ensure that ansible-runner worker --worker-info Returns Unique IDs
  ansible_runner/__main__.py
  ansible_runner/utils/capacity.py
  test/unit/utils/__init__.py
  test/unit/utils/capacity/__init__.py
  test/unit/utils/capacity/test_uuid.py
Labels: gate

#866 Update docs to point to Quay.io
  docs/container.rst
Labels: gate, component:docs

#870 Update documentation to remove adhoc and playbook refs
  docs/execution_environments.rst
  docs/standalone.rst
Labels: gate

#895 [release_2.1] Switch project to squash-merge mode
  .zuul.d/project.yaml
Labels: gate, backport

#896 [release_2.1] Add test and docs for running roles via API
  ansible_runner/interface.py
  docs/python_interface.rst
  test/integration/fixtures/projects/debug/project/roles/hello_world/tasks/main.yml
  test/integration/test_interface.py
Labels: gate, backport

#897 [release_2.0] Add test and docs for running roles via API
  ansible_runner/interface.py
  docs/python_interface.rst
  test/integration/fixtures/projects/debug/project/roles/hello_world/tasks/main.yml
  test/integration/test_interface.py
Labels: gate, backport

#898 [release_2.0] Switch project to squash-merge mode
  .zuul.d/project.yaml
Labels: gate, backport
