Repository ansible/ansible-runner, pull requests merged in 2021-12, with the labels that each got.

#929 Add issue templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: gate

#930 Fix incorrect formatting in docs
  ansible_runner/__main__.py
  ansible_runner/interface.py
  ansible_runner/runner.py
  ansible_runner/utils/__init__.py
  ansible_runner/utils/base64io.py
  docs/ansible_runner.callbacks.rst
  docs/ansible_runner.config.rst
  docs/ansible_runner.display_callback.rst
  docs/ansible_runner.rst
  docs/conf.py
  docs/execution_environments.rst
  docs/external_interface.rst
  docs/intro.rst
  docs/python_interface.rst
  docs/remote_jobs.rst
Labels: gate, docs

#928 Add branch coverage and show coverage for tests
  .coveragerc
Labels: gate

#931 [release_2.1] Fix incorrect formatting in docs (#930)
  ansible_runner/__main__.py
  ansible_runner/interface.py
  ansible_runner/runner.py
  ansible_runner/utils/__init__.py
  ansible_runner/utils/base64io.py
  docs/ansible_runner.callbacks.rst
  docs/ansible_runner.config.rst
  docs/ansible_runner.display_callback.rst
  docs/ansible_runner.rst
  docs/conf.py
  docs/execution_environments.rst
  docs/external_interface.rst
  docs/intro.rst
  docs/python_interface.rst
  docs/remote_jobs.rst
Labels: gate

#904 Add action to label new issues and pull requests
  .github/labeler.yml
  .github/workflows/triage.yml
Labels: gate

#934 Switch to using `pull_request_target` for labeler
  .github/workflows/triage.yml
Labels: gate

#936 Fix labeler workflow
  .github/issue-labeler.yml
  .github/labeler.yml
  .github/pr-labeler.yml
  .github/workflows/triage.yml
Labels: gate

#938 Create separate workflow for new/existing PRs/issues
  .github/issue_labeler.yml
  .github/pr_labeler_existing.yml
  .github/pr_labeler_new.yml
  .github/workflows/triage_existing.yml
  .github/workflows/triage_new.yml
Labels: gate

#940 Use v2.4.1 of issue-labeler action
  .github/workflows/triage_existing.yml
  .github/workflows/triage_new.yml
Labels: gate

#916 Write auto-created private data dirs to pytest dir instead of /tmp
  ansible_runner/config/_base.py
  ansible_runner/defaults.py
  test/conftest.py
Labels: gate, test

#942 [release_2.0] Write auto-created private data dirs to pytest dir instead of /tmp (#916)
  ansible_runner/config/_base.py
  ansible_runner/defaults.py
  test/conftest.py
Labels: gate

#941 [release_2.1] Write auto-created private data dirs to pytest dir instead of /tmp (#916)
  ansible_runner/config/_base.py
  ansible_runner/defaults.py
  test/conftest.py
Labels: gate

#937 Add option to disable streaming to stdout file
  ansible_runner/config/_base.py
  ansible_runner/config/runner.py
  ansible_runner/runner.py
  docs/intro.rst
  test/integration/test_runner.py
  test/unit/test_runner.py
Labels: gate, docs

#939 Add --ident option to process command
  ansible_runner/__main__.py
  ansible_runner/streaming.py
  docs/remote_jobs.rst
  test/integration/test_transmit_worker_process.py
Labels: gate, docs
