Repository ansible/ansible-runner, pull requests merged in 2021-11, with the labels that each got.

#900 Fix podman specific failure == applied to string and int
  test/unit/config/test__base.py
Labels: gate

#894 Set version in docs configuration
  .readthedocs.yaml
  docs/conf.py
  tox.ini
Labels: gate, needs_triage

#899 Fix settings and password dict update
  ansible_runner/config/_base.py
  test/integration/test_config.py
Labels: gate

#905 Revert "[release_2.0] Switch project to squash-merge mode"
  .zuul.d/project.yaml
Labels: gate, backport

#906 Revert "[release_2.1] Switch project to squash-merge mode"
  .zuul.d/project.yaml
Labels: gate, backport

#902 Enable nitpicky mode in Sphinx
  docs/conf.py
Labels: gate, docs

#912 [release_2.0] Fix settings and password dict update (#899)
  ansible_runner/config/_base.py
  test/integration/test_config.py
Labels: gate, backport

#911 [release_2.1] Fix settings and password dict update (#899)
  ansible_runner/config/_base.py
  test/integration/test_config.py
Labels: gate, backport

#908 [release_2.0] Set version in docs configuration (#894)
  .readthedocs.yaml
  docs/conf.py
  tox.ini
Labels: gate, docs, backport

#913 Revert "Switch project to squash-merge mode"
  .zuul.d/project.yaml
Labels: gate

#901 Stop using `/tmp` as a private data dir in tests
  test/unit/config/test__base.py
Labels: gate

#887 Keep worker --private-data-dir when --delete not given
  ansible_runner/__main__.py
  docs/remote_jobs.rst
  test/integration/test_transmit_worker_process.py
  test/unit/__main__/__init__.py
  test/unit/__main__/main/test_worker.py
Labels: gate

#919 [release_2.1] Keep worker --private-data-dir when --delete not given (#887)
  ansible_runner/__main__.py
  docs/remote_jobs.rst
  test/integration/test_transmit_worker_process.py
  test/unit/__main__/__init__.py
  test/unit/__main__/main/test_worker.py
Labels: gate, backport

#917 Add coverage reporting to tests
  .coveragerc
  .gitignore
  pytest.ini
  test/requirements.txt
  tox.ini
Labels: gate

#914 Added missing state callback
  docs/python_interface.rst
Labels: gate, docs

#909 [release_2.1] Fix podman specific failure == applied to string and int (#900)
  test/unit/config/test__base.py
Labels: gate, backport, test

#921 Fix image location URL in docs
  docs/intro.rst
Labels: gate

#910 [release_2.0] Fix podman specific failure == applied to string and int (#900)
  test/unit/config/test__base.py
Labels: gate, backport, test

#923 [release_2.0] Fix image location URL in docs (#921)
  docs/intro.rst
Labels: gate

#920 New interface methods for role list and role argspec
  ansible_runner/__init__.py
  ansible_runner/config/doc.py
  ansible_runner/interface.py
  ansible_runner/utils/__init__.py
  docs/python_interface.rst
  test/conftest.py
  test/integration/fixtures/projects/music/project/roles/Into_The_Mystic/meta/argument_specs.yml
  test/integration/test_interface.py
Labels: gate
