Repository ansible/ansible-runner, pull requests merged in 2022-02, with the labels that each got.

#957 Mount the stdout callback plugin for containerized runs
  ansible_runner/callbacks/awx_display.py
  ansible_runner/callbacks/minimal.py
  ansible_runner/config/_base.py
  ansible_runner/display_callback/__init__.py
  ansible_runner/display_callback/callback/__init__.py
  ansible_runner/display_callback/callback/awx_display.py
  ansible_runner/display_callback/display.py
  ansible_runner/display_callback/events.py
  ansible_runner/display_callback/minimal.py
  ansible_runner/utils/__init__.py
  docs/ansible_runner.callbacks.rst
  docs/ansible_runner.display_callback.rst
  docs/ansible_runner.rst
  setup.cfg
  test/integration/containerized/test_container_management.py
  test/integration/test_config.py
  test/integration/test_runner.py
  test/unit/config/test__base.py
  test/unit/config/test_ansible_cfg.py
  test/unit/config/test_command.py
  test/unit/config/test_doc.py
  test/unit/config/test_inventory.py
  test/unit/config/test_runner.py
  utils/entrypoint.sh
Labels: gate, docs

#985 Add __init__.py file to fix rpm builds
  ansible_runner/display_callback/__init__.py
Labels: gate

#986 fix rpm-builder build
  packaging/rpm/Dockerfile.epel-8-x86_64
Labels: gate

#988 Add compatibility code to the entrypoint so new EEs work with old runner version
  utils/entrypoint.sh
Labels: gate, needs_triage

#989 No code coverage of test code
  .coveragerc
Labels: needs_triage

#987 Fix rpm build
  Makefile
  packaging/rpm/Dockerfile.epel-8-x86_64
  packaging/rpm/ansible-runner.spec.j2
  packaging/rpm/docker-compose.yml
Labels: gate

#991 [release_2.1] Make 2.1 based container images 'latest'
  .zuul.d/jobs.yaml
  .zuul.d/project.yaml
Labels: gate

#996 Remove latest tag from images from devel
  .zuul.d/jobs.yaml
Labels: gate

#997 Purge deprecated resource profiling capability
  ansible_runner/__main__.py
  ansible_runner/config/runner.py
  ansible_runner/interface.py
  ansible_runner/runner.py
  docs/intro.rst
  test/integration/test_events.py
  test/unit/config/test_runner.py
Labels: gate, docs

#999 Less permissive bwrap options
  ansible_runner/config/runner.py
  test/unit/config/test_runner.py
Labels: gate
