Repository ansible/ansible-runner, pull requests merged in 2022-01, with the labels that each got.

#943 Fix suppress_output_file bug where event_callback was not called
  ansible_runner/runner.py
  ansible_runner/utils/__init__.py
  test/unit/test_runner.py
Labels: gate

#952 Do some test cleanup
  test/integration/conftest.py
  test/unit/test_runner.py
Labels: gate

#955 Remove script used for test migration
  utils/generate_callback_playbooks.py
Labels: gate

#956 Silence Ansible devel warning, again
  utils/entrypoint.sh
Labels: gate

#968 Remove Zuul linters and docs jobs
  .zuul.d/project.yaml
Labels: gate

#967 Correct latest image tag
  .zuul.d/jobs.yaml
Labels: gate

#962 [backport] [release_2.1] Create GitHub Actions workflow for running tests (#944)
  .github/workflows/ci.yml
  README.md
  test/integration/test_runner.py
  tox.ini
Labels: gate

#963 [backport] [release_2.0] Create GitHub Actions workflow for running tests (#944)
  .github/workflows/ci.yml
  README.md
  test/integration/test_runner.py
  tox.ini
Labels: gate

#972 [backport][release_2.0] Remove Zuul linters and docs jobs (#968)
  .zuul.d/project.yaml
Labels: gate

#971 [backport][release_2.1] Remove Zuul linters and docs jobs (#968)
  .zuul.d/project.yaml
Labels: gate

#970 Remove zuul integration job
  .zuul.d/jobs.yaml
  .zuul.d/playbooks/ansible-runner-tox-linters/pre.yaml
  .zuul.d/project.yaml
Labels: gate

#974 [backport][release_2.1] Remove zuul integration job (#970)
  .zuul.d/jobs.yaml
  .zuul.d/playbooks/ansible-runner-tox-linters/pre.yaml
  .zuul.d/project.yaml
Labels: gate

#975 [backport][release_2.0] Remove zuul integration job (#970)
  .zuul.d/jobs.yaml
  .zuul.d/playbooks/ansible-runner-tox-linters/pre.yaml
  .zuul.d/project.yaml
Labels: gate

#966 Preserve timestamps when unstreaming dirs
  ansible_runner/utils/streaming.py
  test/unit/utils/test_utils.py
Labels: gate

#978 Fix bug with sandboxing with values from env/settings
  .gitignore
  ansible_runner/config/runner.py
  test/conftest.py
  test/fixtures/projects/containerized/env/envvars
  test/fixtures/projects/containerized/env/settings
  test/fixtures/projects/containerized/inventory/hosts
  test/fixtures/projects/containerized/project/test-container.yml
  test/fixtures/projects/debug/env/envvars
  test/fixtures/projects/debug/inventory/inv_1
  test/fixtures/projects/debug/inventory/inv_2
  test/fixtures/projects/debug/project/debug.yml
  test/fixtures/projects/debug/project/roles/hello_world/tasks/main.yml
  test/fixtures/projects/directory_isolation/env/settings
  test/fixtures/projects/directory_isolation/project/main.yml
  test/fixtures/projects/files/test_ee.py
  test/fixtures/projects/host_status/env/envvars
  test/fixtures/projects/host_status/inventory
  test/fixtures/projects/host_status/project/gen_host_status.yml
  test/fixtures/projects/job_env/env/envvars
  test/fixtures/projects/job_env/env/settings
  test/fixtures/projects/job_env/inventory/hosts
  test/fixtures/projects/job_env/project/printenv.yml
  test/fixtures/projects/music/project/roles/Into_The_Mystic/meta/argument_specs.yml
  test/fixtures/projects/printenv/env/envvars
  test/fixtures/projects/printenv/inventory/hosts
  test/fixtures/projects/printenv/project/action_plugins/look_at_environment.py
  test/fixtures/projects/printenv/project/get_environment.yml
  test/fixtures/projects/sleep/env/envvars
  test/fixtures/projects/sleep/inventory/hosts
  test/fixtures/projects/sleep/project/sleep.yml
  test/fixtures/projects/use_role/env/envvars
  test/fixtures/projects/use_role/inventory/hosts
  test/fixtures/projects/use_role/roles/benthomasson.hello_role/meta/.galaxy_install_info
  test/fixtures/projects/use_role/roles/benthomasson.hello_role/meta/main.yml
  test/fixtures/projects/use_role/roles/benthomasson.hello_role/tasks/main.yml
  test/fixtures/projects/use_role/use_role.yml
  test/integration/conftest.py
  test/unit/config/test_runner.py
Labels: gate, needs_triage, test

#980 [backport][release_2.0] Do some test cleanup (#952)
  test/integration/conftest.py
Labels: gate

#976 Remove use of distutils
  ansible_runner/config/runner.py
  ansible_runner/utils/__init__.py
  test/conftest.py
  test/integration/test___main__.py
  test/integration/test_display_callback.py
  test/integration/test_events.py
  test/unit/config/test_runner.py
Labels: gate, test

#979 [backport][release_2.1] Do some test cleanup (#952)
  test/integration/conftest.py
Labels: gate

#982 [backport][release_2.0] Fix bug with sandboxing with values from env/settings (#978)
  .gitignore
  ansible_runner/config/runner.py
  test/conftest.py
  test/fixtures/projects/containerized/env/envvars
  test/fixtures/projects/containerized/env/settings
  test/fixtures/projects/containerized/inventory/hosts
  test/fixtures/projects/containerized/project/test-container.yml
  test/fixtures/projects/debug/env/envvars
  test/fixtures/projects/debug/inventory/inv_1
  test/fixtures/projects/debug/inventory/inv_2
  test/fixtures/projects/debug/project/debug.yml
  test/fixtures/projects/debug/project/roles/hello_world/tasks/main.yml
  test/fixtures/projects/directory_isolation/env/settings
  test/fixtures/projects/directory_isolation/project/main.yml
  test/fixtures/projects/files/test_ee.py
  test/fixtures/projects/host_status/env/envvars
  test/fixtures/projects/host_status/inventory
  test/fixtures/projects/host_status/project/gen_host_status.yml
  test/fixtures/projects/job_env/env/envvars
  test/fixtures/projects/job_env/env/settings
  test/fixtures/projects/job_env/inventory/hosts
  test/fixtures/projects/job_env/project/printenv.yml
  test/fixtures/projects/printenv/env/envvars
  test/fixtures/projects/printenv/inventory/hosts
  test/fixtures/projects/printenv/project/action_plugins/look_at_environment.py
  test/fixtures/projects/printenv/project/get_environment.yml
  test/fixtures/projects/sleep/env/envvars
  test/fixtures/projects/sleep/inventory/hosts
  test/fixtures/projects/sleep/project/sleep.yml
  test/fixtures/projects/use_role/env/envvars
  test/fixtures/projects/use_role/inventory/hosts
  test/fixtures/projects/use_role/roles/benthomasson.hello_role/meta/.galaxy_install_info
  test/fixtures/projects/use_role/roles/benthomasson.hello_role/meta/main.yml
  test/fixtures/projects/use_role/roles/benthomasson.hello_role/tasks/main.yml
  test/fixtures/projects/use_role/use_role.yml
  test/integration/conftest.py
  test/unit/config/test_runner.py
Labels: gate
