Repository ansible/ansible-runner, pull requests merged in 2022-06, with the labels that each got.

#1084 skip process isolation check for transmit and process
  ansible_runner/interface.py
  test/integration/test_transmit_worker_process.py
Labels: needs_triage

#1091 [backport][release_2.2] Add examples for status_handler and event_handler
  docs/python_interface.rst
Labels: docs, needs_triage

#1094 [backport][2.2] skip process isolation check for transmit and process
  ansible_runner/interface.py
  test/integration/test_transmit_worker_process.py
Labels: needs_triage

#1067 Update Event emitter plugin docs
  docs/external_interface.rst
Labels: docs
