Repository ansible/ansible-runner, pull requests merged in 2023-04, with the labels that each got.

#1224 Remove pkg_resources use
  ansible_runner/__init__.py
  ansible_runner/__main__.py
  ansible_runner/utils/importlib_compat.py
  requirements.txt
  test/conftest.py
  test/requirements.txt
Labels: needs_triage, test

#1229 expand importlib-metadata version constraint
  requirements.txt
Labels: needs_triage

#1230 [2.3 backport] Remove pkg_resources use (#1224)
  ansible_runner/__init__.py
  ansible_runner/__main__.py
  ansible_runner/utils/importlib_compat.py
  requirements.txt
  test/conftest.py
Labels: needs_triage, test

#1231 remove redundant/conflicting test requirement
  test/requirements.txt
Labels: needs_triage, test

#1228 Fix unclosed files warnings
  ansible_runner/interface.py
  ansible_runner/runner.py
  ansible_runner/utils/streaming.py
  pytest.ini
  test/integration/containerized/test_container_management.py
  test/integration/test___main__.py
  test/integration/test_config.py
  test/integration/test_display_callback.py
  test/integration/test_interface.py
  test/integration/test_runner.py
  test/integration/test_transmit_worker_process.py
  test/requirements.txt
Labels: needs_triage, test

#1239 CI improvements
  .github/workflows/ci.yml
  test/unit/config/test__base.py
  test/unit/config/test_ansible_cfg.py
  test/unit/config/test_command.py
  test/unit/config/test_doc.py
  test/unit/config/test_inventory.py
  tox.ini
Labels: needs_triage

#1238 Ensure that UTC ISO8601 datetimes include timezone info
  ansible_runner/display_callback/callback/awx_display.py
  ansible_runner/runner.py
  test/unit/test_runner.py
Labels: needs_triage

#1234 Drop pbr in favor of setuptools_scm
  .git_archival.txt
  .gitattributes
  .github/workflows/ci.yml
  docs/conf.py
  docs/requirements.in
  docs/requirements.txt
  pyproject.toml
  requirements.txt
  setup.cfg
  setup.py
  src/ansible_runner/__init__.py
  src/ansible_runner/__main__.py
  src/ansible_runner/cleanup.py
  src/ansible_runner/config/__init__.py
  src/ansible_runner/config/_base.py
  src/ansible_runner/config/ansible_cfg.py
  src/ansible_runner/config/command.py
  src/ansible_runner/config/doc.py
  src/ansible_runner/config/inventory.py
  src/ansible_runner/config/runner.py
  src/ansible_runner/defaults.py
  src/ansible_runner/display_callback/__init__.py
  src/ansible_runner/display_callback/callback/__init__.py
  src/ansible_runner/display_callback/callback/awx_display.py
  src/ansible_runner/exceptions.py
  src/ansible_runner/interface.py
  src/ansible_runner/loader.py
  src/ansible_runner/output.py
  src/ansible_runner/plugins/__init__.py
  src/ansible_runner/runner.py
  src/ansible_runner/runner_config.py
  src/ansible_runner/streaming.py
  src/ansible_runner/utils/__init__.py
  src/ansible_runner/utils/base64io.py
  src/ansible_runner/utils/capacity.py
  src/ansible_runner/utils/importlib_compat.py
  src/ansible_runner/utils/streaming.py
  tox.ini
Labels: docs, needs_triage
